<br />
<a href="/detalle/<%- product.id %>" class="card-link">
  <h4><%- product.title %></h4>
  <p class="ps-text-grey">
    <%- product.description || "Plato tipico" %> U$S <%- product.price %>
  </p>
</a>
